@import '../../../shared/styles/main.scss';

.Card {
  position: relative;

  overflow: hidden;

  width: 36rem;
  height: 36rem;

  transition: all 0.5s ease;

  // margin-bottom: 3rem;

  @include respond(phone) {
    width: 100%;
    height: calc(100vw - 4rem);
  }

  &__Content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 5rem 3rem;

    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;
    opacity: 0;

    width: 100%;
    height: 100%;

    transition: all 0.5s ease;

    background-color: $color-grey-light-1;
  }

  &__Text {
    transition: all 0.5s ease;
    transform: translateY(-400%);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    text-align: center;

    & h4 {
      font-size: 2.1rem;
      line-height: 2.2rem;
      color: $color-grey-dark-3;
    }
  }

  &__SubText {
    font-size: 1.6rem;
    color: $color-primary-dark;
  }

  &__Description {
    transition: all 0.5s ease;
    transform: scale(0);
    text-align: center;
    padding-bottom: 1rem;
  }

  &__Buttons {
    transition: all 0.5s ease;
    transform: translateY(400%);
    display: flex;

    & > :first-of-type {
      margin-right: 1rem;
    }
  }

  &:hover &__Content,
  &:focus-within &__Content {
    opacity: 1;
  }

  &:hover &__Text,
  &:focus-within &__Text {
    transform: translateY(0);
  }

  &:hover &__Buttons,
  &:focus-within &__Buttons {
    transform: translateY(0);
  }

  &:hover &__Description,
  &:focus-within &__Description {
    transform: scale(1);
  }
}
