@import '../../../shared/styles/main.scss';

.MessageBox {
  position: fixed;
  z-index: 110;
  top: 0;
  left: 50%;

  width: 60vw;
  padding: 3rem 4rem;

  transition: all 0.3s ease;
  transform: translate(-50%, 0%);
  text-align: center;

  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;

  @include respond(tab-landscape) {
    width: 70vw;
    padding: 2.2rem 3.2rem;
  }

  @include respond(tab-portrait) {
    width: 80vw;
    padding: 1.8rem 2.6rem;
  }

  @include respond(phone) {
    width: 100vw;
    padding: 1.5rem 2rem;
  }

  &--success {
    background-color: $color-success-light-2;
  }

  &--danger {
    background-color: $color-danger-light-2;
  }

  &--hidden {
    transform: translate(-50%, -100%);
  }
}
