@import '../../shared/styles/main.scss';

.CRUDForm {
  display: flex;
  flex-direction: column;

  height: 100%;

  &__Group {
    height: 100%;
    margin-top: 2rem;
    margin-bottom: 4rem;

    border-radius: 3px;
    // background-color: $color-grey-light-3;

    @include respond(tab-landscape) {
      margin-bottom: 3.5rem;
    }

    @include respond(tab-portrait) {
      padding: 0.7rem;
      margin-bottom: 2.5rem;
    }

    @include respond(phone) {
      padding: 0.5rem;
      margin-bottom: 2rem;
    }
  }

  & button {
    margin-top: 3rem;

    @include respond(tab-landscape) {
      margin-top: 2.2rem;
    }

    @include respond(tab-portrait) {
      margin-top: 1.4rem;
    }

    @include respond(phone) {
      margin-top: 1rem;
    }
  }

  &__DocumentContainer {
    margin-bottom: 1.5rem;

    @include respond(tab-landscape) {
      margin-bottom: 1.1rem;
    }

    @include respond(tab-portrait) {
      margin-bottom: 0.7rem;
    }

    @include respond(phone) {
      margin-bottom: 0.5rem;
    }
  }

  &__DocumentContent {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 1.5rem;

    @include respond(tab-landscape) {
      display: block;
    }
  }

  &__Container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 1.5rem;

    @include respond(tab-landscape) {
      grid-template-columns: 1fr;

      gap: 1.1rem;
    }

    @include respond(tab-portrait) {
      gap: 0.7rem;
    }

    @include respond(phone) {
      gap: 0.5rem;
    }
  }

  & form {
    padding: 3rem;

    border-radius: 3px;
    // background-color: $color-grey-light-1;

    @include respond(tab-landscape) {
      padding: 2.8rem;
    }

    @include respond(tab-portrait) {
      padding: 2rem;
    }

    @include respond(phone) {
      padding: 1.5rem;
    }
  }
}
