@import '../../shared/styles/main.scss';

.Portfolio {
  min-height: 100vh;
  padding-top: 8rem;

  @include respond(tab-landscape) {
    padding-top: 6rem;
  }

  @include respond(tab-portrait) {
    padding-top: 5rem;
  }

  @include respond(phone) {
    padding-top: 3rem;
  }

  &__Section {
    margin-top: 8rem;

    @include respond(tab-landscape) {
      margin-top: 6rem;
    }

    @include respond(tab-portrait) {
      margin-top: 4.5rem;
    }

    @include respond(phone) {
      margin-top: 3rem;
    }

    &:first-of-type {
      margin-top: 3rem;

      @include respond(tab-landscape) {
        margin-top: 2rem;
      }

      @include respond(tab-portrait) {
        margin-top: 1.5rem;
      }

      @include respond(phone) {
        margin-top: 1.3rem;
      }
    }
  }

  &__Projects {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 36rem);
    grid-auto-rows: 36rem;

    margin-bottom: 3rem;

    @include respond(tab-landscape) {
      margin-bottom: 3rem;
    }

    @include respond(tab-portrait) {
      margin-bottom: 3rem;
    }

    @include respond(phone) {
      grid-template-columns: 1fr;
      grid-auto-rows: auto;

      margin-bottom: 4.5rem;
    }
  }
}
