// COLORS
$color-primary: hsl(221, 49%, 55%);
$color-primary-light: hsl(221, 55%, 64%);
$color-primary-dark: hsl(221, 64%, 43%);

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #dbdbdb;
$color-grey-light-3: rgb(197, 197, 197);

$color-grey-dark-1: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;

$white-transparent: rgba(255, 255, 255, 0);
$black-transparent: rgba(0, 0, 0, 0);

$color-danger: red;
$color-danger-light: rgb(255, 132, 132);
$color-success: green;
$color-success-light: rgb(146, 255, 146);
