@import '../../../shared/styles/main.scss';

.Button {
  font-size: inherit;

  display: inline-block;

  width: 100%;
  margin-bottom: 1.5rem;
  padding: 1rem 2rem;

  cursor: pointer;
  transition: all 0.2s ease;
  text-align: left;

  color: $color-grey-dark-3;
  border: none;
  outline: 2px solid $color-primary-dark;
  background: transparent;

  &--fitContent {
    width: fit-content;
  }

  &--center {
    text-align: center;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--light {
    outline: 2px solid white;
    color: white;

    &:active,
    &:focus {
      outline: 2px solid $color-primary-light;
    }
  }

  &:active,
  &:focus {
    background: $color-primary-dark;
    color: white;
  }

  &:hover {
    @include respond(mouse) {
      background: $color-primary-dark;
      color: white;
    }
  }

  &:disabled {
    color: $color-grey-light-2;
    outline: 2px solid $color-grey-light-2;
    cursor: not-allowed;
    &:hover {
      @include respond(mouse) {
        background: transparent;
      }
    }
  }

  &__Link {
    color: $color-grey-dark-3;

    &--light {
      color: white;

      &:hover {
        @include respond(mouse) {
          background: $color-primary-light;
          outline: 2px solid $color-primary-light;
        }
      }
      &:active,
      &:focus {
        background: $color-primary-light;
      }
    }
  }
}
