@import '../../../shared/styles/main.scss';

.Link {
  display: block;

  width: 100%;
  padding: 1rem 2rem;
  font-size: 2rem;

  transition: all 0.3s ease;

  background: $color-background-2;
  color: white;

  &:hover,
  &:focus {
    @include respond(mouse) {
      background: $color-grey-light-1;
      color: $color-grey-dark-3;
    }
  }

  &__Icon {
    // color: $color-primary-light;
  }
}
